/* Custom Earthy Theme Stylesheet */

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Transisi halus saat form di-hover atau fokus */
input {
    transition: all 0.2s ease-in-out;
}

/* Kustomisasi scrollbar dengan warna hangat */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f4eee5;
}
::-webkit-scrollbar-thumb {
    background: #d4c3ab;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #bda052;
}